.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profile-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.profile-field label {
  width: 150px;
  font-weight: bold;
}

.profile-field input,
.profile-field span {
  flex: 1;
  padding: 5px;
}

.premium-user {
  color: gold;
  font-weight: bold;
}

.verified-merchant-icon,
.verified-icon,
.wallet-icon {
  margin-right: 5px;
}

.save-changes-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 9999px; /* Bordes completamente redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.save-changes-button:hover {
  background-color: #333; /* Un negro ligeramente más claro al pasar el mouse */
}

@media (min-width: 768px) {
  .save-changes-button {
    width: auto; /* En pantallas más grandes, el botón no ocupa todo el ancho */
  }
}
